<style>
  
  .vscr {
    display: flex;
    justify-content: center;
    font-family: 'Poor Story', cursive;
  }

  .firstV {
    color: rgb(158, 30, 30);
    /* text-shadow: 2px 2px; */
  }

  .firstC {
    color: rgb(158, 30, 30);
      /* text-shadow: 2px 2px; */
    }

  .firstS {
    color: rgb(158, 30, 30);
      /* text-shadow: 2px 2px; */
    }

  .firstR {
    color: rgb(158, 30, 30);
      /* text-shadow: 2px 2px; */
    }

  .firstY {
    color: rgb(158, 30, 30)
  }

  .firstE {
    color: rgb(158, 30, 30)
  }

  .userStyle {
    color: rgb(158, 30, 30)
  }

  .userName {
    display: flex;
    justify-content: center;
    color: black;
    font-family: 'Poor Story', cursive;
  }

  .ext {
    font-family: 'Poor Story', cursive;
  }



</style>
<link href="https://fonts.googleapis.com/css?family=Poor+Story" rel="stylesheet">
<div>
<div class="vscr">
  <h1><strong class="firstV">V</strong>isual <strong class="firstS">S</strong>tudio <strong class="firstC">C</strong>ode <strong class="firstR">R</strong>anking</h1>
</div>
<br>
<div class="userName">
<h2>
  <strong class="userStyle">User</strong>: <%= user.first_name %> <%= user.last_name %>
</h2>
</div>
<hr>
<form action="addExt.html" method="POST">
  <input name="userID" id="userID" value='<%= user.user_id %>' type="hidden"/>
  <input id="extName" name="extName" placeholder="Extension Name" type="text"/>
  <input id="extURL" name="extURL" placeholder="Extension URL" type="text"/>
  <input type="submit" value="submit"/>
</form>
<hr>
<h2 class="ext"><strong class="firstY">Y</strong>our <strong class="firstE">E</strong>xtensions</h2> 
<ol>  
  <% extArray.forEach((extension) => { %>
    <li><strong><%= extension.vsc_ext_name %></strong> - <a href="<%= extension.vsc_ext_url %>" target="_blank"><%= extension.vsc_ext_url %></a></li>
  <% }); %>
</ol>
<hr>
<a href="popular.html">See Most Popular Extensions</a>
