<style>

  a {
    color: blue;
    text-decoration: underline;
  }
  
  strong {
    color: darkred;
    text-decoration: underline;
  }
  
  strong:hover {
    cursor: pointer;
  }
  
</style>

<h1>Visual Studio Code Ranking</h1>
<br>
<h2>
  User: <%= user.first_name %> <%= user.last_name %>
</h2>
<hr>
<form action="addExt.html" method="POST">
  <input name="userID" id="userID" value='<%= user.user_id %>' type="hidden"/>
  <input id="extName" name="extName" placeholder="Extension Name" type="text"/>
  <input id="extURL" name="extURL" placeholder="Extension URL" type="text"/>
  <input type="submit" value="submit"/>
</form>
<hr>
<h2>Your Extensions</h2> 
<ul>
  <% extArray.forEach((extension) => { %>
    <li><strong><%= extension.vsc_ext_name %></strong> - <a href="<%= extension.vsc_ext_url %>" target="_blank"><%= extension.vsc_ext_url %></a></li>
  <% }); %>
</ul>
<hr>
<a href="popular.html">See Most Popular Extensions</a>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
  let extList = document.getElementsByTagName('li');
  for (let i = 0; i < extList.length; i += 1) {
    extList[i].childNodes[0].addEventListener('click', () => {
      var $newForm = $('<form action="extUsers.html" method="POST">');
      $newForm.append(`<input name="extName" value="${extList[i].childNodes[0].textContent}" />`);
      $newForm.append(`<input name="extURL" value="${extList[i].childNodes[2].textContent}" />`);
      $newForm.appendTo($('body')).submit();
    })
  };
</script>
