<style>

  a {
    color: blue;
    text-decoration: underline;
  }
  
  strong {
    color: darkred;
    text-decoration: underline;
  }
  
  strong:hover {
    cursor: pointer;
  }
  
  .vscr {
    display: flex;
    justify-content: center;
    font-family: 'Poor Story', cursive;
  }

  .firstV {
    color: rgb(158, 30, 30);
    /* text-shadow: 2px 2px; */
  }

  .firstC {
    color: rgb(158, 30, 30);
      /* text-shadow: 2px 2px; */
    }

  .firstS {
    color: rgb(158, 30, 30);
      /* text-shadow: 2px 2px; */
    }

  .firstR {
    color: rgb(158, 30, 30);
      /* text-shadow: 2px 2px; */
    }

  .firstY {
    color: rgb(158, 30, 30)
  }

  .firstE {
    color: rgb(158, 30, 30)
  }

  .userStyle {
    color: rgb(158, 30, 30)
  }

  .userName {
    display: flex;
    justify-content: center;
    color: black;
    font-family: 'Poor Story', cursive;
  }

  .ext {
    font-family: 'Poor Story', cursive;
  }

  #extName {
    border: 1px solid darkslategrey;
    border-radius: 2px;
    height: 24px;
    padding: 3px;
    width: 200px;
  }

  #extURL {
    border: 1px solid darkslategrey;
    border-radius: 2px;
    height: 24px;
    padding: 3px;
    width: 200px;
  }

  #extName:focus {
    outline: none;
  }

  #extURL:focus {
    outline: none;
  }

  #button {
    background: rgb(158, 30, 30);
    border: none;
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    color: white;
    height: 20px;
    line-height: 20px;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    width: 60px;
}

#button:hover {
    box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}

</style>
<link href="https://fonts.googleapis.com/css?family=Poor+Story" rel="stylesheet">
<div>
<div class="vscr">
  <h1><strong class="firstV">V</strong>isual <strong class="firstS">S</strong>tudio <strong class="firstC">C</strong>ode <strong class="firstR">R</strong>anking</h1>
</div>
<br>
<div class="userName">
<h2>
  <strong class="userStyle">User</strong>: <%= user.first_name %> <%= user.last_name %>
</h2>
</div>
<hr>
<form action="addExt.html" method="POST">
  <input name="userID" id="userID" value='<%= user.user_id %>' type="hidden"/>
  <input autofocus id="extName" name="extName" placeholder="Extension Name" type="text"/>
  <input id="extURL" name="extURL" placeholder="Extension URL" type="text"/>
  <input id="button" type="submit" value="submit"/>
</form>
<hr>
<h2 class="ext"><strong class="firstY">Y</strong>our <strong class="firstE">E</strong>xtensions</h2> 
<ol>  
  <% extArray.forEach((extension) => { %>
    <li><strong><%= extension.vsc_ext_name %></strong> - <a href="<%= extension.vsc_ext_url %>" target="_blank"><%= extension.vsc_ext_url %></a></li>
  <% }); %>
</ol>
<hr>
<a href="popular.html">See Most Popular Extensions</a>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
  let extList = document.getElementsByTagName('li');
  for (let i = 0; i < extList.length; i += 1) {
    extList[i].childNodes[0].addEventListener('click', () => {
      var $newForm = $('<form action="extUsers.html" method="POST">');
      $newForm.append(`<input name="extName" value="${extList[i].childNodes[0].textContent}" />`);
      $newForm.append(`<input name="extURL" value="${extList[i].childNodes[2].textContent}" />`);
      $newForm.appendTo($('body')).submit();
    })
  };
</script>
