<h1>Visual Studio Code Ranking</h1>
<br>
<h2>
  Extension Name: <%= extName %>
</h2>
<p>
  <strong>Extension URL:</strong> <a href="<%= extURL %>" target="_blank"><%= extURL %></a>
</p>
<hr>
<h2>All <%= extName %> Users</h2>
<ul>
  <% userArray.forEach((user) => { %><!-- TODO -->
    <li><%= user[0].first_name %> <%= user[0].last_name %></li>
  <% }); %>
</ul>
