<style>
   a {
    color: blue;
    text-decoration: underline;
  }
  
  strong {
    color: darkred;
    text-decoration: underline;
  }
  
  strong:hover {
    cursor: pointer;
  }
  
  .vscr {
    display: flex;
    justify-content: center;
    font-family: 'Poor Story', cursive;
  }

  .firstV {
    color: rgb(158, 30, 30);
    /* text-shadow: 2px 2px; */
  }

  .firstC {
    color: rgb(158, 30, 30);
      /* text-shadow: 2px 2px; */
    }

  .firstS {
    color: rgb(158, 30, 30);
      /* text-shadow: 2px 2px; */
    }

  .firstR {
    color: rgb(158, 30, 30);
      /* text-shadow: 2px 2px; */
    }

  .firstY {
    color: rgb(158, 30, 30)
  }

  .firstE {
    color: rgb(158, 30, 30)
  }

  .userStyle {
    color: rgb(158, 30, 30)
  }
  
  .extensionName {
    color: rgb(158, 30, 30)
  }

  .userName {
    color: black;
    font-family: 'Poor Story', cursive;
  }

  .ext {
    font-family: 'Poor Story', cursive;
  }
  

</style>

<div class="vscr">
<h1><strong class="firstV">V</strong>isual <strong class="firstS">S</strong>tudio <strong class="firstC">C</strong>ode <strong class="firstR">R</strong>anking</h1>
</div>
<br>
<h2>
  <strong class="extensionName">Extension Name</strong>: <%= extName %>
</h2>
<p>
  Extension URL: <a href="<%= extURL %>" target="_blank"><%= extURL %></a>
</p>
<hr>
<h2>All <%= extName %> Users</h2>
<ul>
  <% userArray.forEach((user) => { %><!-- TODO -->
    <li><%= user[0].first_name %> <%= user[0].last_name %></li>
  <% }); %>
</ul>
<hr>
<a href="popular.html">See Most Popular Extensions</a>
