<h1>Visual Studio Code Ranking</h1>
<br>
<h2>
  Extension Name: <%= extName %> <!-- TODO -->
</h2>
<h3>
  Extension URL: <%= extURL %> <!-- TODO -->
</h3>
<hr>
<h2>All <%= extName %> Users</h2> <!-- TODO -->
<ul>
  <% userArray.forEach((user) => { %><!-- TODO -->
    <li><%= user.first_name %> <%= user.last_name %></li>
  <% }); %>
</ul>
